<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-content [fullscreen]="true">

        <ion-item>
          <ion-label >Nome</ion-label>
          <ion-input placeholder="informe o nome"></ion-input>
        </ion-item>
        <ion-button color="success">Gravar</ion-button>

    </ion-content>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
